#checkout {
  display: flex;
  justify-content: center;
  .container {
    height: max-content;
    width: 100%;
    background: gray;
    max-width: 1800px;
    padding: 20px;
    display: flex;
    .container-left {
      width: 100%;
      padding: 10px;
      // height: 500px;
      // background: black;
      .title {
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 1px solid lightgray;
        // color: white;
      }
    }
  }
}
