#header {
  height: 55px;
  background-color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

  .text-deco-none {
    text-decoration: none;
  }

  .logo {
    font-size: 40px;
    margin: 0 0 5px 10px;
    color: white;
  }

  .header-search {
    // background-color: white;
    border-radius: 50px;
    display: flex;
    // width: 300px;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 21px;
    input {
      //   border-radius: 7px;
      width: 100%;
      border: none;
      height: 30px;
    }
    .search-icon {
      color: white;
      padding: 3px;
      background-color: gray;
      height: 30px;
      width: 30px;
    }
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .option {
      color: white;
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      .line-one {
        font-size: 12px;
        font-weight: 500;
      }
      .line-two {
        font-size: 14px;
        font-weight: 700;
      }
    }

    text-decoration: none;
    .option-basket {
      display: flex;
      align-items: center;
      color: white;
      padding: 0 10px;
      text-decoration: none;
      .cart-icon {
        // color: white;
        font-size: 40px;
        padding: 0 5px;
      }
      .cart-count {
        font-size: 20px;
        text-decoration: none;
        // color: white;
      }
    }
  }
}
